@font-face {
    font-family: AvenirLTNextPro;
    font-weight: 400;
    src: url('../assets/Font/AvenirNextLTPro-Regular.otf') format('opentype'),
        url('../assets/Font/Alternative%20files/AvenirNextLTPro.ttf') format('truetype');
}

@font-face {
    font-family: AvenirLTNextPro;
    font-weight: 700;
    src: url('../assets/Font/AvenirNextLTPro-Bold.otf') format('opentype'),
        url('../assets/Font/Alternative%20files/AvenirNextLTProBold.ttf') format('truetype');
}