@use '../../styles/_abstracts' as*;

.commentSection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    padding-top: 3rem;
    @include desktop{
        padding-right: 1.5rem;
    }
    &__title {
        font-size: 0.875rem;
    }
    &__user{
        padding-top: 1.5rem;
        @include tablet {
            padding-top: 0;
        }
    }
    &__addComments {
        align-items: flex-start;
        column-gap: 1rem;
        display: inherit;
        flex-direction: row;
        width: 100%;

        @include tablet{
            align-items: flex-end;
        }

        &__inner {
            display: inherit;
            flex-direction: column;
            width: 100%;
        }
        &__outer{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            flex: 1 1 auto;

            @include tablet {
                align-items: flex-end;
                flex-direction: row;
                flex: 1 1 auto;
                column-gap: 1rem;
            }
        }
        &__title {
            color: var(--Silver);
            font-size: 0.875rem;
        }
    }
}