.commentSection {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__addComments {
        column-gap: 1rem;
        display: inherit;
        flex-direction: row;
        width: 100%;
    }
}