@use '../../styles/_abstracts' as*;

.videoPlayer {
    display: flex;
    background-color: var(--BrainFlix-DarkBlack);
    width: 100%;
    height: 400px;
    justify-content: center;
    &__pane {
        height: 100%;
    }
}