@use '../../styles/_abstracts' as*;

.videoPlayer {
    display: flex;
    background-color: var(--BrainFlix-DarkBlack);
    width: 100%;
    aspect-ratio: 16/9;
    justify-content: center;

    &::backdrop {
        aspect-ratio: 16/9;
        object-fit: fill;
    }
    @include tablet{
        height: 400px;
    }
    &__pane {
        height: 100%;
    }
}